Curso 6 IaC com CDK e deploy na AWS/arquivos_aws_sanara/sanara_accessKeys.csv
Curso 7 Mensageria com RabbitMQ/mensageria rabbitmq/rabbit/dados/.erlang.cookie
Curso 7 Mensageria com RabbitMQ/rabbit/dados/mnesia/
